<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>System-Monitor-检测机器选择</title>

    <link rel="stylesheet" href="/welcome_inbox/style.css" media="screen" type="text/css"/>

</head>

<body>
<style type="text/css">
a {color: inherit;text-decoration: none;}

</style>
<ul>
    <li class="active"><i class="fa fa-138 fa-lg"></i><a href="/choose?host=10.10.121.138">10.10.121.138</a></li>
    <li><i class="fa fa-139 fa-lg"></i><a href="/choose?host=10.10.121.139">10.10.121.139</a><span class="unread">2</span></li>
    <li><i class="fa fa-148 fa-lg"></i><a href="/choose?host=10.10.121.148">10.10.121.148</a></li>
    <li><i class="fa fa-149 fa-lg"></i><a href="/choose?host=10.10.121.149">10.10.121.149</a></li>
    <li><i class="fa fa-150 fa-lg"></i><a href="/choose?host=10.10.121.150">10.10.121.150</a></li>
    <li><i class="fa fa-151 fa-lg"></i><a href="/choose?host=10.10.121.151">10.10.121.151</a></li>
    <li><i class="fa fa-152 fa-lg"></i><a href="/choose?host=10.10.121.152">10.10.121.152</a></li>
    <li><i class="fa fa-153 fa-lg"></i><a href="/choose?host=10.10.121.153">10.10.121.153</a></li>
</ul>

<script src="/welcome_inbox/index.js"></script>

</body>

</html>