<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">

    <!-- 定义日志的根目录 -->
    <property name="LOG_HOME" value="./project-debug-logs/uif-consumer-mysql"/>

    <!-- 定义日志文件名称 -->
    <property name="appName" value="rabbit_consumer"></property>

    <!--表示控制台输出-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- 滚动记录文件-->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${appName}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>365</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [ %thread ] - [ %-5level ] [ %logger{50} : %line ]
                - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--logger and root-->
    <logger name="cn.gitv.bi" level="debug" additivity="true">
        <appender-ref ref="logfile"/>
        <!--<appender-ref ref="stdout"/>-->
    </logger>
    <root level="error">
        <!--<appender-ref ref="logfile"/>-->
    </root>
</configuration>